{% extends "::base.html.twig" %}
{% block body %}
    <table id="#CategoriasTable" class="table table-striped">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Cantidad de Promociones</th>
        </tr>
        {%  for prof in Profesores %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ prof.nomProf}}</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}